body {
  background-color: rgb(255, 255, 255);
  color: $primary-text-color;
  font-family: 'Nunito Regular', sans-serif;
  font-style: normal;
  background-image: url(../img/bg-light-purple.svg), url(../img/bg-purple.svg), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(188, 173, 235, 0.1) 55%, rgba(102, 58, 237, 0.1) 100%);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 309px, 100% 822px, cover;
  
}
