body {
  background-color: #ffffff;
  color: $primary-text-color;
  font-family: 'Nunito Regular', sans-serif;
  font-style: normal;
  background-image: url(../img/bg-light-purple.svg), url(../img/bg-purple.svg);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 100% 309px, 100% 822px;
}
