.events {
  padding-top: 58px;
  padding-bottom: 150px;

  @media screen and (max-width: 1199px) {
    padding-top: 29px;
    padding-bottom: 32px;
    
  }

  &__container {

    @media screen and (min-width: 767px) {
      padding-left: 38px;
    }
    
  }

  &__pretext {
    color:rgba(105, 69, 236, 0.5);
    @include font($ff: 'Product Sans', $fw: 400, $fs: 22px, $lh: 1.45);
    @include text-gradient;
    margin-bottom: 10px;

    @media screen and (max-width: 991px) {
      text-align: center;      
    }

    &::after {
      content: '';
      display: inline-block;
      width: 86px;
      height: 2px;
      background-color: rgba(111, 88, 227, 0.6);
      margin-left: 22px;
      transform: translateY(-6px);
    }
  }

  &__title {
    color: $main-title-color;
    @include font($ff: 'Gilroy Bold', $fw: 700, $fs: 50px, $lh: 1.34);
    text-transform: capitalize;
    white-space: pre-line;
    margin-bottom: 66px;

    @media screen and (max-width: 1199px) {
      font-size: 28px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
    }
  }

  &__item {
    @media screen and (min-width: 320px) {
      margin-bottom: 38px;
    }
  }

  &__card {
    text-align: center;
  }

  &__img-box {
    border-radius: 6px;
    @include sizes($w: 104px, $h: 104px);
    margin: 0 auto 38px;

    &--purple {
      box-shadow: 0px 16px 46px rgba(105, 69, 236, 0.33);
      background-color: #6945ec;
    }

    &--orange {
      box-shadow: 0px 16px 46px rgba(235, 87, 87, 0.33);
      background-color: #eb5757;
    }

    &--yellow {
      box-shadow: 0px 16px 46px rgba(242, 153, 74, 0.33);
      background-color: #f2994a;
    }
  }

  &__img {
    fill: #ffffff;
    transform: translateY(50%);
  }

  &__subtitle {
    color: $main-title-color;
    @include font($ff: 'Gilroy Bold', $fw: 700, $fs: 32px, $lh: 1.156);
    letter-spacing: -0.015em;
    margin-bottom: 24px;

    @media screen and (max-width: 1199px) {
      font-size: 26px;
    }
  }

  &__description {
    color: $primary-text-color;
    @include font($ff: 'Nunito Regular', $fs: 19px, $lh: 1.789);
  }
}
