.events {
  padding-top: 58px;
  padding-bottom: 141px;

  &__container {
    padding-left: 38px;
  }

  &__pre-text {
    @include font('Product Sans', $fw: 400, $fs: 22px, $lh: 1.45);
    @include text-gradient;
    margin-bottom: 10px;

    &::after {
      content: '';
      display: inline-block;
      width: 86px;
      height: 2px;
      background: #6f58e3;
      margin-left: 22px;
      transform: translateY(-6px);
    }
  }

  &__title {
    @include font('Gilroy Bold', $fw: 700, $fs: 50px, $lh: 1.34);
    color: $main-title-color;
    text-transform: capitalize;
    margin-bottom: 66px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 363px;
    text-align: center;
  }

  &__img-box {
    @include sizes($w: 104px, $h: 104px);

    border-radius: 6px;
    margin: 0 auto 38px;

    &--purple {
      box-shadow: 0px 16px 46px rgba(105, 69, 236, 0.33);
      background-color: #6945ec;
    }

    &--orange {
      box-shadow: 0px 16px 46px rgba(235, 87, 87, 0.33);
      background-color: #eb5757;
    }

    &--yellow {
      box-shadow: 0px 16px 46px rgba(242, 153, 74, 0.33);
      background-color: #f2994a;
    }
  }

  &__img {
    transform: translateY(50%);
    fill: #ffffff;
  }

  &__subtitle {
    @include font('Gilroy Bold', $fs: 32px, $lh: 1.156);
    letter-spacing: -0.015em;
    color: $main-title-color;
    margin-bottom: 24px;
  }

  &__description {
    @include font('Nunito Regular', $fs: 19px, $lh: 1.789);
    color: $primary-text-color;
  }
}
