.features {
  padding-top: 87px;
  padding-bottom: 97px; 
  
  @media screen and (max-width: 991px) {
    padding-top: 43px;
    padding-bottom: 48px;
  }

  &__container {
    position: relative;
  }

  &__pretext {
    text-align: center;
    @include font($ff: 'Product Sans', $fw: 400, $fs: 22px, $lh: 1.45);
    @include text-gradient;
    margin-bottom: 10px;
  }

  &__title {
    text-align: center;
    @extend .events__title;
    margin-bottom: 189px;

    @media screen and (min-width: 320px) {
      margin-bottom: 65px;
    }
  }
  
  &__wrapper {
    @media screen and (max-width: 991px) {
      display: none;      
    }
    @include flex($d: flex, $ai: flex-start, $jc: space-between)
  }

  &__item {
    position: relative;
    max-width: 299px;
  }
 
  .left-side__point {
    position: absolute;
    top: 100%;
    left: 100%;
    
    &--orange {
      transform: translate(208px, -16px);

      @media screen and (max-width: 1439px) {
        transform: translate(20px, 20px);
      }
    }

    &--green {
      transform: translate(209px, -167px);
      
      @media screen and (max-width: 1439px) {
        transform: translate(70px, -167px);
      }
    }

    &--blue {
      transform: translate(255px, -301px);
      @media screen and (max-width: 1439px) {
        transform: translate(65px, -301px);
      }
    }
  }

  .right-side__point {
    position: absolute;
    top: 100%;
    right: 100%;
    
    &--red {
      transform: translate(-248px, -40px);
      @media screen and (max-width: 1439px) {
        transform: translate(-45px, 12px);
      }
    }

    &--pink {
      transform: translate(-205px, -166px);
      @media screen and (max-width: 1439px) {
        transform: translate(-30px, -166px);
      }
    }

    &--dark-blue {
      transform: translate(-298px, -350px);
      @media screen and (max-width: 1439px) {
        transform: translate(-25px, -280px);
      }
    }
  }

  .sidebar {
    &__left-list {
      text-align: right;
      transform: translateX(-20px);

      @media screen and (max-width: 1439px) {
        text-align: center;        
      }
    }

     &__right-list {
        margin-top: 31px;
        transform: translateX(25px);

        @media screen and (max-width: 1439px) {
          text-align: center;        
        }
     }

    &__item--m-gap:not(:last-child) {
        margin-bottom: 101px;
    }

    &__item--sm-gap:not(:last-child) {
        margin-bottom: 91px;
    }

    &__icon-box {
        @media screen and (min-width: 1440px) {
          margin-left: 0;
        }
    }
  }

  &__icon-box {
      text-align: center;
      @include sizes($w: 56px, $h: 56px);
      border-radius: 6px;
      margin-left: auto;
      margin-bottom: 15px;

      @media screen and (max-width: 1439px) {
        margin: 0 auto 15px;        
      }
      

      &--orange {
          background-color: #F2994A;
      }

      &--green {
          background-color: #1BBA54;
      }

      &--blue {
          background-color: #56CCF2;
      }

      &--red {
          background-color: #EB5757;
      }

      &--pink {
          background-color: #FEA481;
      }

      &--dark-blue {
          background-color: #00928D;
      }
  }

  &__icon {
      fill: #ffffff;
      transform: translateY(50%);
    }
  
  &__subtitle {
    color: $main-title-color;
    @include font($ff: 'Gilroy Bold', $fw: 700, $fs: 24px, $lh: 1.166);
    letter-spacing: -0.015em;
    margin-bottom: 20px;
  }

  &__description {
      color: $secondary-text-color;
      @include font($lh: 1.81);
      text-transform: capitalize;    
          
  }

  &__bg-circle {
    background-color: #F2F2F2;
    border-radius: 50%;
    aspect-ratio: 1 / 1;

    @media screen and (min-width: 320px) {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    @media screen and (min-width: 992px) {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 150px);
      // transform: translate(-50%, 250px);
      @include sizes($w: 681px, $h: 681px);
    
    }
  }

  // &__img {
  //   @media screen and (min-width: 1400px) {
  //    transform: translate(40px, 167px);
  //   }
  // }

  &__accordion-box {
    margin-top: 65px;
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &__accordion {
    background-color: #d2c6f5;
    color: $main-title-color;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 6px;
    border-bottom: 1px solid #ada7a7;
    transition: 280ms;

    .active &:hover, &:focus {
      background-color: #9f64dd;
    }

    &::after {
    content: '+'; 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    }
  }

  &__panel {
      padding: 10px 18px;
      background-color: white;
      display: none;
      overflow: hidden;
  }
}

@media screen and (max-width: 991px) {
  .leader-line {
    display: none;
  } 
}
