.footer {
   padding-top: 84px;
   padding-bottom: 42px;

   &__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 58px;
   }

   &__logo {
    margin-bottom: 26px;
    @include flex($jc: flex-start);
       
   }

   &__logo-text {
    color: $main-title-color;
    @extend .header__logo-text;
       
   }

   &__company-info {
    color: $primary-text-color;
    @include font($ff: Product Sans, $fs: 20px, $lh: 1.6);
    max-width: 310px; 
    margin-bottom: 68px;
   }

   .socials {
        &__list {
        display: flex; 
        justify-content: flex-start;
        }

       &__item {
        margin-right: 13px;
        @include sizes($w: 44.7px, $h: 44.7px);
        
       }

       &__link {
        background-image: linear-gradient(rgba(111, 88, 227, 0.15,), rgba(111, 88, 227, 0.15));
        border-radius: 50%;
        @include flex();
        @include sizes($w: 100%, $h: 100%);        
        transition: background-image 280ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover, 
        &:focus {
            background-image: linear-gradient(#6f58e3, #bb6bd9);

            .socials__icon {
                fill: #ffffff;
            }
          }
       }

       &__icon {
        fill: #555185;
        transition: fill 280ms cubic-bezier(0.4, 0, 0.2, 1);
       }
   }

   &__subtitle {
    color: $main-title-color;
    @include font($ff: 'Product Sans Bold', $fs: 30px, $lh: 1.2);
    margin-bottom: 15px;
   }

   &__item {
    color: $secondary-text-color;
    @include font($ff: 'Product Sans', $fs: 20px, $lh: 2.7); 
   }

   &__link {
    color: inherit;
   }

   &__copyright {
    color: $secondary-text-color;
    @include font($ff: 'Product Sans', $fs: 18px, $lh: 1.2); 
    text-align: center;

    &::before {
      content: '';
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: rgba(187, 204, 205, 0.48);
      margin-bottom: 25px;
    }

    &--link {
        color: inherit;
    }
   }
}

