.hero {
  padding: 74px 0 58px 0;

  &__title {
    color: #f2f2f2;
    @include font($ff: 'Gilroy Black', $fw: 900, $fs: 70px, $lh: 1.4);

    text-align: center;
    text-transform: capitalize;

    margin-bottom: 52px;
    padding-right: 40px;
  }

  &__img {
    margin-left: auto;
    padding-right: 83px;
  }
}
