.mobile-menu {

    &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    fill: #ffffff;
    transition: fill 280ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    fill: #7e40a7;
  }
  
    @media screen and (min-width: 768px) {
      display: none;
    }

    &--close {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px 15px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        fill: #555185;
      
        transition: fill 280ms cubic-bezier(0.4, 0, 0.2, 1);
      
        &:hover,
        &:focus {
          fill: rgba(102, 58, 237, 0.6);
        }
    }
}
    &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 5;
   
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(102, 58, 237, 0.4) 100%);
    padding: 48px 30px;
    text-align: left;
  
    transform: translateX(100%);
    transition: transform 280ms cubic-bezier(0.4, 0, 0.2, 1);
  
    &.is-open {
      transform: translateX(0);
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__item {
    color: $primary-text-color;
    @include font($ff: 'Product Sans', $fs: 20px, $lh: 2.7); 
   }

   &__link {
    color: inherit;

    &:hover, 
    &:focus {
    color:rgba(102, 58, 237, 0.6);
    }
   }

   &__login {
    display: block;
    @include font($ff: 'Nunito Bold', $fs: 18px);
    background-color: #ffffff;
    padding: 19px;
    width: 100%;
    max-width: 260px;
    border-radius: 6px;
    outline: none;
    border: transparent;
    cursor: pointer;
    margin-bottom: 15px;

    &--purple {
      color: rgba(148, 88, 227, 0.7);
      @include text-gradient;
    }
   }

   &__signup {
    display: block;
    @include font($ff: 'Nunito Bold', $fs: 18px); 
    background-image: linear-gradient(148.28deg, #6F58E3 10.51%, #BB6BD9 94.77%);
    padding: 19px;
    width: 100%;
    max-width: 260px;
    border-radius: 6px;
    outline: none;
    border: transparent;
    cursor: pointer;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &--white {
       color: $tertiary-text-color;
    }
   }
}

