.store {
    padding-top: 90px;
    padding-bottom: 95px;

    &__pretext {
     @extend .features__pretext;
    }

    &__title {
       margin-bottom: 64px;
       @extend .features__title;
     
    }

    &__list {
     display: flex;
     align-items: center;
    }

    &__item {
       flex-grow: 1;
       flex-basis: 0;
    
        &:not(:last-child) {
        margin-right: 25px;
        }
    }

    &__card {
        padding: 17px 19px 30px;
        border-radius: 8px;
        border: 0.82px solid rgba(0, 0, 0, 0.18);
        max-width: 410px;
        min-width: 320px;
        background-color: #ffffff;

    }

    &__img-box {
        display: flex;
        min-height: 278px;
        border-radius: 8px;

        &--blue {
            background-color: rgba(87, 172, 229, 0.2);
         }
 
         &--pink {
             background-color: rgba(242, 153, 74, 0.2);
         }
 
         &--green {
             background-color: rgba(39, 174, 96, 0.2);
         }
    }

    &__img {
        margin: auto;
    }

   
    &__text-content {
        padding-top: 28px;
        @include flex($jc: space-between);
        
    }

    &__product-name {
        color: $main-title-color;
        @include font($ff: 'Gilroy Bold', $fw: 700, $fs: 24px, $lh: 1.16);
        letter-spacing: -0.015em;
        margin-bottom: 7px;
    }

    &__price {
        color: rgba(187, 107, 217, 0.5);
        @include font($ff: 'Nunito Bold', $fw: 700, $fs: 20px, $lh: 1.36);
        letter-spacing: -0.015em;
        @include text-gradient;
    }

    &__btn {
        display: inline-block;
        @include font($ff: 'Nunito Semibold', $fs: 16px, $lh: 1.384);
        width: 83px;
        height: 46px;
        border: none;
        border-radius: 3px;
        color: $tertiary-text-color;
        text-transform: capitalize;

        &--blue {
            background-color: #1664F9;
        }

        &--pink {
            background-color: #F2994A;
        }

        &--green {
            background-color: #27AE60;
        }
    }

//    custom pagination for slider dots 

    .tns-nav {
        text-align: center;
        margin-top: 48px;

        & button {
        padding: 0;
        margin: 0 5px;
        @include sizes($w: 19px, $h: 19px);
        border-radius: 50%;
        background: #ddd;
        border: 0;
                
        &.tns-nav-active {
        background: linear-gradient(#6f58e3, #bb6bd9);
    }
   }
  }  
     .tns-outer {
        position: relative;
     
       &::after {
        content: '';
        position: absolute;
        top: -190px;
        right: -215px;
        z-index: -1;
        background-image: url(../img/ellipse.png);
        background-position: center;
        background-repeat: no-repeat;
        @include sizes($w: 518px, $h: 518px);
     }    
} 
}
    
    